In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(1)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0

In [3]:
df.dtypes

Unnamed: 0     int64
label         object
text          object
label_num      int64
dtype: object