In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(1)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0

In [3]:
df.dtypes

Unnamed: 0     int64
label         object
text          object
label_num      int64
dtype: object

In [6]:
df = df[ ['text','label_num'] ]
df.head(1)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0

In [7]:
# Subject - subject - SUBJECT - Subject: - Subject.
text = df.iloc[0,0]
text

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."