In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(1)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0

In [6]:
df = df[ ['text','label_num'] ]
df.head(1)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0

In [14]:
# nltk -> Natural Language Toolkit
!pip install nltk

Requirement already satisfied: nltk in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from click->nltk) (0.4.6)

In [15]:
# Stopword kaldırma -> The,is,at
# Stem -> Köküne indirgemek - Running -> Run
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
text = df.iloc[0,0]
text

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [33]:
# Subject - subject - SUBJECT - Subject: - Subject.
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

text = df.iloc[0,0] # 1. satırdaki text

def clean_text(text):
    text = text.lower()
    
    text = text.translate( str.maketrans('','',string.punctuation) )
    
    # "subject,enron,methanol" -> ["subject","enron", "methanol"]
    # bir parametre yoksa default boşluk parametresi alınır.
    # merhaba dünya
    words = text.split()
    
    words = [ word for word in words if not word.isdigit() ]
    
    words = [ ps.stem(word) for word in words if word not in stopwords.words('english') ]
    
    return " ".join(words)

clean_text(df.iloc[0,0])

'subject enron methanol meter follow note gave monday preliminari flow data provid daren pleas overrid pop daili volum present zero reflect daili activ obtain ga control chang need asap econom purpos'

In [ ]:
df['clean_text'] = df['text'].apply(clean_text)