In [1]:
# ORM -> SQLAlchemy
# Adapter ->
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (2.9.10)

In [4]:
import psycopg2

connection = psycopg2.connect(
    dbname='testdb',
    user='postgres',
    password='1234',
    host='193.203.191.79',
    port='32001'
)

query = "Select * from users"

In [5]:
import pandas as pd

df = pd.read_sql(query,connection)
df.head(1)

C:\Users\PC1\AppData\Local\Temp\ipykernel_31448\2054633523.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,connection)

   id            name                   email                                             review  rating
0   1  Raymond Howard  erodriguez@example.net  Partner trouble serious sign bar follow. Assum...     6.8

In [6]:
connection.close()

In [7]:
df.shape

(4011, 5)

In [8]:
reviews = df['review'].values
ratings = df['rating'].values

In [11]:
# token
#!pip install tensorflow

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(reviews, ratings, test_size=0.3, random_state=42)

In [14]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=10000, oov_token='<OOV>') # 10k kelime max., OOV => out-of vocabulary
tokenizer.fit_on_texts(X_train)

In [16]:
X_train_seq = tokenizer.texts_to_sequences(X_train) #Sözlüğe göre çeviri
X_test_seq = tokenizer.texts_to_sequences(X_test) #Sözlüğe göre çeviri

In [24]:
# Padding -> 50 -> Bütün cümleleri 50 kelimeye tamamla ya da kırp. 40 kelime -> sonuna ya da başına 10 tane boşluk ekle.
# 120 kelime => [50] [50] [50] -> 3. arrayin son 30 kelimesi boşluk.
from tensorflow.keras.preprocessing.sequence import pad_sequences

X_train_pad = pad_sequences(X_train_seq, maxlen=50, padding="post")
X_test_pad = pad_sequences(X_test_seq, maxlen=50, padding="post")

#

In [25]:
X_train_pad[0], X_train_seq[0]

(array([  2, 797, 478, 587, 668, 532, 756,  20, 626, 877,  84, 131, 331,
        428, 798, 799, 800,  57,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0], dtype=int32),
 [2,
  797,
  478,
  587,
  668,
  532,
  756,
  20,
  626,
  877,
  84,
  131,
  331,
  428,
  798,
  799,
  800,
  57])